<launch>

  <env name="GAZEBO_MODEL_PATH" value="$(find fetch_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />

  <arg name="robot" default="fetch"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    
  </include>

  <!-- Oh, you wanted a robot? -->
  <include file="$(find fetch_gazebo)/launch/include/$(arg robot).launch.xml" />
  <node name="turtlebot_spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-file $(find turtlebot3_gazebo)/models/turtlebot3_burger/model.sdf
        -sdf
        -x 2.0 -y 0 -z 0
        -R 0   -P 0 -Y 0
        -model turtlebot3_burger"/>


</launch>
